<div class="row">

    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                <h4 ng-click="isCollapsedOrder = !isCollapsedOrder">Ordre<span class="glyphicon" ng-class="{'glyphicon-arrow-down red':!isCollapsedOrder, 'glyphicon-arrow-up green':isCollapsedOrder}"></span></h4>
                <div uib-collapse="isCollapsedOrder">
                    <div class="form-group">
                        <label></label>
                        <select class="form-control" name="order" ng-model="ordre">
                            <option value="createdat">Date</option>
                            <option value="montant">Montant</option>
                            <option value="libelle">Libellé</option>
                        </select>
                        Croissant: <input type="checkbox" ng-model="reverse">
                    </div>
                </div>    
            </div>
        </div>    
        <div class="row">
                <div class="col-xs-12">
                    <label>Rechercher une opération : </label>
                    <input placeholder="Libellé ou montant..." class="form-control" type="text" ng-model="searchText" />
                </div>
        </div>   
    </div>

        <div class="col-xs-6">
            <h4 ng-click="isCollapsedTri = !isCollapsedTri">Tri<span class="glyphicon" ng-class="{'glyphicon-arrow-down red':!isCollapsedTri, 'glyphicon-arrow-up green':isCollapsedTri}"></span></h4>
            <div uib-collapse="isCollapsedTri">
                <div class="form-group">
                    <select class="form-control" name="trier" ng-model="tri">
                        <option value="all" selected="selected">Tout</option>
                        <option value=0>Debit</option>
                        <option value=1>Credit</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Tri par mois :</label> <select class="form-control" name="trier" ng-model="triMonth" ng-change="changeMonth()">
                        <option value='all'>Année entière</option>
                        <option ng-repeat="month in months" value="[[ $index+1 ]]">[[ month ]]</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Trier par type d'opération: </label>
                    <select class="form-control" name="trier" ng-model="triType">
                        <option value="all" selected="selected">Tous les types</option>
                        <option ng-repeat="type in types" value="[[ type.type ]]">[[ type.type ]]</option>
                    </select> 
                </div>
            </div>
        </div>    
</div>

<button ng-click="cleanCache()">Vider le cache</button>
<button ng-click="reset()">Reset</button>
<button ng-click="testB(-10)">Test proimise</button>
FirstOpe: <input type="checkbox" ng-model="firstOpe">
<div class="row">
    <div class="col-xs-12">
            <uib-tabset>
            <uib-tab ng-repeat="info in data">
                <uib-tab-heading><img src="[[ path_img ]][[ info.banque.logo ]]" />[[ info.nom ]] <br> [[ info.solde | currency ]]</uib-tab-heading>
                <a data-tooltip="Graphique" data-placement="bottom" class="btn btn-lg btn-success" href="#/graphic/[[ info.id ]]">
                 <span class="glyphicon glyphicon-signal"></span>Voir le graphique
                </a>
                <form name="newOpeForm" ng-submit="valNew()">
                    <input name="compteid" type="hidden" value="[[ info.id ]]">
                    <input type="text" name="newLibelle" ng-model="new.libelle" required>
                    <select name="newType" ng-model="new.type" required>                        
                        <option ng-repeat="type in types" value="[[ type.type ]]">[[ type.type ]]</option>
                    </select>
                    <input type="number" name="newMontant" ng-model="new.montant" required >
                    <input type="submit" ng-disabled="newOpeForm.$invalid" value="Ajouter">
                </form>
            <div class="row">
                <div scroll-position id="ope_div" class="col-sm-6" >
                    <h4>Liste des opérations <span ng-show="triMonth!=='all'">du mois de [[ months[triMonth-1] ]] </span></h4>
                    <div class="row first">
                        <div class="col-xs-3">Date</div>
                        <div class="col-xs-3">Libelle</div>
                        <div class="col-xs-2">Type</div>
                        <div class="col-xs-2">Montant</div>
                        <div class=""col-xs-2><button ng-click="edit = !edit"><span ng-class="{'glyphicon glyphicon-pencil':!edit, 'glyphicon glyphicon-remove':edit}"></span></button></div>
                    </div>
                        <div ng-if="!edit" ng-include=path+"/template/view.html"></div>
                        <div ng-if="edit" ng-include=path+"/template/edit.html"></div>
                </div>
                <div class="col-sm-6">
                    <h4>Répartition des opérations</h4>
                    <pierepart num="[[ $index ]]" compteId="[[ info.id ]]"></pierepart>
                </div>
            </div>    
            </uib-tab>
            </uib-tabset>
    </div>
</div>
