{% extends 'ApplisunCompteBundle::backend_layout.html.twig' %}
{% form_theme form 'ApplisunCompteBundle:Form:fields.html.twig' %}
{% block content %}
    <h1>Nouvelle banque</h1>

    {{ form(form) }}
    
    <a class="btn btn-primary" href="{{ path('banque') }}">
        Retourner à la liste
    </a>
{% endblock %}
