{% extends 'ApplisunCompteBundle::layout.html.twig' %}
{% form_theme form 'ApplisunCompteBundle:Form:fields.html.twig' %}
{% block content %}
    <div class="col-lg-12">
         <h1>Nouvel utilisateur</h1>
    </div>

    {{ form(form) }}        
{% endblock %}
